# Общие
.DS_Store
*.log
*.tmp

# Xcode
build/
DerivedData/
*.xcodeproj/project.xcworkspace
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
xcuserdata/

# CocoaPods
Pods/
# Не игнорируйте Podfile.lock! Он важен для консистентности установки зависимостей.
# Podfile.lock

# Carthage
# Carthage/Build
# Carthage/Checkouts

# Swift Package Manager
# .build/
# Packages/
# *.xcodeproj/project.xcworkspace

# Другое
*.ipa
*.dSYM.zip
*.dSYM

# Локальные настройки (если есть)
# .env
